backports.shutil-get-terminal-size==1.0.0
beautifulsoup4==4.4.1
certifi==2018.1.18
chardet==3.0.4
configparser==3.5.0
Django==1.11.10
enum34==1.1.6
f.lux-indicator-applet==1.1.11rc0
flake8==3.5.0
html5lib==0.999
idna==2.6
lxml==3.5.0
mccabe==0.6.1
numpy==1.14.0
pathlib==1.0.1
pew==1.1.2
pexpect==4.0.1
pipenv==9.0.3
ptyprocess==0.5
pycodestyle==2.3.1
pycurl==7.43.0
pyflakes==1.6.0
pygobject==3.20.0
pyliblzma==0.5.3
pysqlite==1.0.1
pytz==2017.3
pyxdg==0.25
requests==2.18.4
rpm-python==4.12.0.1
shutilwhich==1.1.0
six==1.10.0
urlgrabber==3.9.1
urllib3==1.22
virtualenv==15.1.0
virtualenv-clone==0.2.6
yum-metadata-parser==1.1.4
